.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-radius: 1.5em !important;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #7638ea;
  color: white;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #ffffff;
}

table tr:hover {
  background-color: #f0f0f0;
}

table th,
table td {
  border: none;
}
