@font-face {
  font-family: 'SF Pro';
  src: url('../sf-pro-display_regular.woff2') format('woff2');
}

body {
  background-color: #957dff;
  color: #1b1b1b;
  font-family: 'SF Pro', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-family: 'SF Pro', Arial, sans-serif;
  color: #6c6677;
}

h2 {
  font-family: 'SF Pro', Arial, sans-serif;
  margin-top: 2em;
}

h5 {
  font-family: 'SF Pro', Arial, sans-serif;
  color: #9387ab;
  font-weight: normal;
}

.container {
  position: relative;
  width: 98vw;
  height: 96vh;
  background: radial-gradient(
      circle at top center,
      transparent 20%,
      #fafafa 25%,
      #eaeaea 100%,
      transparent 80%
    ),
    linear-gradient(to right, #e7e6e6, #ffffff, #f0f0f0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1.5em;
  margin-top: 1em;
}

.right-box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: linear-gradient(#ffffff 80%, #f5f5f5);
  width: 21em;
  height: calc(96vh - 2em); /* Adjust height to be 96vh minus padding */
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

#side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 97vh;
  width: 3em;
  border-radius: 1.5em;
  position: relative;
  top: -0.5em;
  justify-content: space-between;
}

#icon-area {
  width: 100%;
}

.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 1em 0;
  width: 100%;
  transition: background-color 0.3s ease, border-color 0.5s ease;
  margin: 0.1em 0 0.1em 0;
}

.icon-button:hover {
  background-color: #f0f0f0;
  border-right: 3px solid #7638ea;
  border-top-right-radius: 1.5px;
  border-bottom-right-radius: 1.5px;
}

.icon-button-current {
  background-color: #f0f0f0;
  border-right: 3px solid #7638ea;
  border-top-right-radius: 1.5px;
  border-bottom-right-radius: 1.5px;
}

#logo {
  margin-top: 0.5em;
  width: 2.25em;
}

#user {
  width: 2.25em;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

#datetime {
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.search-box {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 1.5em;
  height: 3em;
  padding: 0 1em 0 1em;
  align-items: center;
  width: 97%;
}

#search-input {
  font-family: inherit;
  font-size: 1.05em;
  color: #575757;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  width: 100%;
  height: 2em;
  margin-left: 1em;
}

.separator {
  border-bottom: solid 3px #e3e3e3;
  border-radius: 1.5px;
  padding: 0 1em 0 1em;
  width: 93%;
  margin: 1em auto 0 auto;
  opacity: 50%;
}

.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 1.5em;
  width: 20.5em;
  height: 30vh;
  max-height: 14em;
  margin-bottom: 3vh;
}

.weatherwidget-io {
  margin: -1.25em 0em 0em 0.25em;
  width: 20em;
  height: 5em;
  border-radius: 1.5em;
  font-family: 'SF Pro', Arial, sans-serif;
  border-top-right-radius: 1.5em;
}

.payment {
  font-family: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#f5f5f5, #eeeeee);
  border-radius: 1.5em;
  width: 16em;
  height: 25vh;
  max-height: 14em;
  padding: 2em;
}

#payment-method {
  margin: 0 0 0.15em 0;
}

.balance {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  margin-top: -1em;
}

.weatherwidget-io {
  padding: 0;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 1em;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #f9f9f9;
  width: 18em;
  height: 8em;
  box-shadow: 0px 0.5em 1em 0px rgba(0, 0, 0, 0.5);
  padding: 2em;
  z-index: 1;
  border-radius: 1.5em;
  /* Horizontal Centering */
  left: 50%;
  transform: translateX(-50%);
}

#day-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  color: white;
  background-color: #7638ea;
  border-radius: 1.5em;
  height: 5em;
  width: 5em;
  margin-bottom: 1em;
}

#time-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  color: white;
  background-color: #7638ea;
  border-radius: 1.5em;
  height: 5em;
  width: 5em;
  margin-bottom: 1em;
}

#unit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 5em;
  height: 4.75em;
  border: solid 2px #7638ea;
  border-radius: 1.5em;
}

#units {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border-radius: 1.25em;
  border: none;
  height: 3vw;
  padding: 0 1em 0 1em;
  align-items: center;
  width: 4em;
  text-align: center;
  margin-top: -1.5em;
  width: 2em;
  font-size: large;
  outline: none;
}

#sim-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10em;
}

#day-unit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18em;
}

#play {
  cursor: pointer;
}

#pause {
  cursor: pointer;
}
#skipForward {
  cursor: pointer;
}
#skipBack {
  cursor: pointer;
}
#map {
  width: 95%;
  border-radius: 1.5em;
  margin-bottom: -1em;
}
